
<div class="container">
  <h2>{{title}}</h2>
  <button class="btn btn-primary " (click)="afficher()">

     <!--span class="material-icons">
      {{showNouveau ? "visibility_off" : "visibility"}}
    </span-->
    {{showNouveau ? "cacher" : "afficher"}} Nouveau
  </button>
  <hr>

  <div class="mb-3 row">
    <label  id = "filtre" class="col-sm-4 col-form-label"><h1>Filtre actuel : {{hotelFilter|lowercase}}</h1></label>
    <div class="col-sm-8">
      <input type ="text" class="form-control" [(ngModel)]="hotelFilter">
      <!--<input type ="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter=$event"><p *ngFor='let i in new Array(hotel.rating)'>
            <app-star-rating></app-star-rating>
          </p>-->
    </div>
  </div>
  <div *ngIf="hotels && hotels.length > 0"  class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let hotel of filteredHotels">
      <div class="card h-100">
        <img [src]="hotel.imageUrl" [title]="hotel.nomHotel" class="card-img-top" [alt]="hotel.nomHotel">
        <div class="card-body">
          <h3 class="card-title">{{hotel.nomHotel|uppercase}}</h3>
          <p class="card-text">{{hotel.description}} </p>
          <p class="card-text">{{hotel.price|currency :'EUR':'symbol':'1.2-2':'fr'|commaPipe}} </p>
          <span *ngIf="showNouveau" class="badge bg-pill bg-info">Nouveau</span>
          <app-star-rating [startRating]="hotel.rating"></app-star-rating>
        </div>
      </div>
  </div>
<div>
